:root {
  --background: rgb(240, 240, 240);
  --foreground: rgb(55, 55, 55);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(55, 55, 55);
    --foreground: rgb(240, 240, 240);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
  height: 100%;
  width: 100%
}

#grid .grid-item {
  min-width: 100%;
  min-height: 100%;
  background-color: hsl(0, 0%, 13%);
  cursor: pointer;
  position: relative;
}

#grid .grid-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 1px solid rgba(255, 255, 255, 0);
  display: block;
  transition: outline .2s;
}

#grid .grid-item:hover::after {
  background-color: hsl(0, 0%, 13%);
  transition: 0s;
  mix-blend-mode: color-dodge;
}
#grid .grid-item.color::after {
  outline: 1px solid hsla(0, 0%, 13%, 1);
  transition: outline .2s;
}

#grid .grid-item.plain::after {
  outline: 1px solid rgba(252, 252, 252, 0);  
  transition: outline .2s;
}

#grid .grid-item p {
  text-align: center;
  line-height: 1;
}

#grid .grid-item.section img {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}